.sectionHow {
  padding: 9.6rem 0;
}

.stepNumber {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.stepImgBox {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stepImg {
  width: 35%;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.subheading {
  display: block;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
